parameters:
	ignoreErrors:
		-
			message: '#^Using nullsafe property access "\?\-\>message" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Telegram/Domain/Service/MessageExtractor.php

		-
			message: '#^Using nullsafe property access "\?\-\>from" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 3
			path: src/Telegram/Domain/Service/UserExtractor.php

		-
			message: '#^Call to function is_object\(\) with callable\(App\\Telegram\\TelegramInput\)\: void&object will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Telegram/Infrastructure/Handler/ChainHandlerResolver.php
